.accept-invite h4 {
  font-size: 18px;
  line-height: 24px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.accept-invite button {
  padding: 15px 20px;
  font-size: 18px;
}
