.ShowSecret {
  padding-top: 100px;
  text-align: center;
}
.ShowSecret form textarea {
  height: 300px;
  font-size: 24px;
}

.show-secret .btn,
.show-secret .btn:hover,
.show-secret .btn:focus {
  background: #000;
  border-color: #000;
}

.show-secret .alert {
  margin: 15px 0 0;
  font-size: 16px;
  line-height: 1.6em;
}

.show-secret .secret {
  margin-top: 30px;
}
