.app-page {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.app-page + footer {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
}

.app-page + footer p {
  color: #aaa;
}

.app-page + footer p a {
  color: #aaa;
}

.app-page + footer p a:hover {
  text-decoration: underline;
}

.app-page:not(.is-home) {
  margin-top: 50px;
}

.app-navigation {
  border-bottom: 1px solid var(--black-light);
  position: relative;
  padding: 25px 0;
}

.app-navigation > div {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.app-navigation .logo {
  width: 145px;
}

.app-navigation .logo img {
  max-width: 100%;
  height: auto;
}

.app-navigation h1 {
  font-size: 24px;
  font-weight: bold;
  color: #0099ff;
  font-family: "Staatliches";
}

.app-navigation h1:hover {
  cursor: pointer;
}

.app-navigation .fa-bars {
  margin-left: auto;
  font-size: 22px;
}

.app-navigation ul {
  display: none;
  position: absolute;
  right: 0px;
  background: #fff;
  border: 1px solid #eee;
  padding: 20px;
  left: 0px;
  right: 0px;
  border-radius: 3px;
  top: 35px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.03);
}

.app-navigation ul.is-open {
  display: block;
}

.app-navigation ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.app-navigation ul li:not(:last-child) {
  margin-bottom: 15px;
}

.app-page .masthead {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
}

@media screen and (min-width: 992px) {
  .app-navigation {
    padding: 40px 0;
  }

  .app-navigation h1 {
    font-size: 38px;
    font-weight: bold;
  }

  .app-navigation .fa-bars {
    display: none;
    margin-left: auto;
    font-size: 22px;
  }

  .app-navigation ul {
    display: flex !important;
    align-items: center;
    position: static;
    background: transparent;
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin-left: auto;
  }

  .app-navigation ul li,
  .app-navigation ul li:not(:last-child) {
    margin: 0;
  }

  .app-navigation ul li:not(:first-child) {
    margin-left: 40px;
  }

  .app-navigation ul li a {
    font-size: 18px;
    color: var(--black-dark);
    font-weight: normal;
  }

  .app-navigation ul li.share-secret {
    background: rgb(75, 123, 236);
    background: linear-gradient(
      180deg,
      rgba(75, 123, 236, 1) 0%,
      rgba(56, 103, 214, 1) 100%
    );
    border: 1px solid var(--primary);
    box-shadow: 0 2px 11px 0 rgba(56, 103, 214, 0.05);
    padding: 15px 20px;
    border-radius: 30px;
    color: #fff;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  }

  .app-navigation ul li.share-secret a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
  }

  .app-page.is-home {
    display: flex;
    margin-top: 100px;
  }

  .app-page.is-home .masthead {
    display: flex;
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    padding: 0;
    width: 45%;
    margin-right: 5%;
  }

  .app-page.is-home .masthead h1 {
    font-size: 38px;
    line-height: 48px;
    margin-top: 30px;
    max-width: 500px;
  }

  .app-page.is-home .app-body {
    width: 50%;
  }
}
